<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="/" class="navbar-brand" id="wired">WIRED Scraper</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="/articles" id="home">Home</a>
				</li>
				<li>
					<a href="/saved" id="savedArticles">Saved Articles</a>
				</li>
				<li>
					<a class="btn btn-danger" id=scrape>SCRAPE NEW ARTICLES!</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="jumbotron text-center">
		<div class="background-image"></div>
		<div class="caption">
			<h1>Mongo Scraper</h1>
			<p>WIRED Edition</p>
		</div>
	</div>
	<div class="container-fluid article-results">
		{{#each data}}
		<div class="panel panel-default">
			<div class="panel-heading">
				<a class="panel-title" href="https://www.wired.com{{link}}" target="_blank">{{title}}</a>
				<div class="btn-group pull-right">
					<a href="#" data-id={{id}} class="btn btn-default btn-sm delete">DELETE FROM SAVED</a>
					<a href="#" data-id={{id}} class="btn btn-default btn-sm note">ADD NOTE</a>
				</div>

			</div>
			<div class="panel-body">
				{{summary}}
			</div>
		</div>
		{{/each}}
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="app.js"></script>
</body>
